name: Build and Push to ACR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        run: |
          az acr login --name auryntoacr

      - name: Build image
        run: |
          docker build -t auryntoacr.azurecr.io/aurynto-api:latest .

      - name: Push image
        run: |
          docker push auryntoacr.azurecr.io/aurynto-api:latest